<article class="myFruit" ng-controller="myFruit" style="height: 100vh;">
	<article class="myFruit_top weidenglu">
		<a href="#/login" class="myFruit_enter">
			<img src="img/lemon.png" class="flt" />
			<section class="loginBtn flt">

				<p>登录/注册</p>
				<h3>签到送好礼</h3>
			</section>
			<span class="iconfont icon-right frt"></span>
		</a>
		<ul class="myFruit_list clrfix">
			<li>
				<a href="javascript:;">积分</a>
				<span>-</span>
			</li>
			<li>
				<a href="javascript:;">余额</a>

				<h4>有礼</h4>
				<span>-</span>
			</li>
			<li>
				<a href="javascript:;">优惠券</a>

				<span>-</span>
			</li>
			<li>
				<a href="javascript:;">赠品</a>

				<span>-</span>
			</li>
		</ul>
	</article>
	<article class="myFruit_top yidenglu">
		<a href="javascript:;" class="myFruit_enter">
			<img src="img/touxiang.png" class="flt" />
			<section class="loginBtn flt">

				<p>137****1932</p>
				<h3>签到送好礼</h3>
			</section>
			<span class="iconfont icon-right frt"></span>
		</a>
		<ul class="myFruit_list clrfix">
			<li>
				<a href="javascript:;">积分</a>
				<span>0</span>
			</li>
			<li>
				<a href="javascript:;">余额</a>

				<h4>有礼</h4>
				<span>￥0.00</span>
			</li>
			<li>
				<a href="javascript:;">优惠券</a>

				<span>0</span>
			</li>
			<li>
				<a href="javascript:;">赠品</a>

				<span>0</span>
			</li>
		</ul>
	</article>

	<article class="myFruit_order" ng-click="gomyo()">
		<section class="myOrder">
			<span class="iconfont icon-myOrder flt"></span>
			<p class="flt">我的订单</p>
			<span class="iconfont icon-right frt backOrder"></span>
			<h4 class="frt">全部订单</h4>
		</section>
		<ul class="goodStatus">
			<li>
				<a href="javascript:;">
					<span class="iconfont icon-waitPay"></span>
					<p>待付款</p>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<span class="iconfont icon-deliver"></span>
					<p>待发货</p>
				</a>

			</li>
			<li>
				<a href="javascript:;">
					<span class="iconfont icon-getGood"></span>
					<p>待收货</p>
				</a>
			</li>
			<li>

				<a href="javascript:;">
					<span class="iconfont icon-value"></span>
					<p>待评价</p>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<span class="iconfont icon-backGood"></span>
					<p>退换货</p>
				</a>
			</li>
		</ul>
	</article>
	<ul class="myFruit_service clrfix">
		<li>
			<a href="javascript:;">
				<span class="iconfont icon-myPower"></span>
				<p>我的特权</p>
			</a>
		</li>
		<li>
			<a href="#/mygift">
				<span class="iconfont icon-welfare"></span>
				<p>我的福利</p>
			</a>
		</li>

		<li>
			<a href="javascript:;">
				<span class="iconfont icon-collection"></span>
				<p>我的收藏</p>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="iconfont icon-card"></span>
				<p>提货卡券</p>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="iconfont icon-service"></span>
				<p>企业服务</p>
			</a>
		</li>
		<li>
			<a href="#/problem">
				<span class="iconfont icon-problem"></span>
				<p>常见问题</p>
			</a>
		</li>
		<li>
			<a href="javascript:;">
				<span class="iconfont icon-complain"></span>
				<p>我要吐槽</p>
			</a>
		</li>
		<li ng-click="goshezhi()">
			<a href="javascript:;">
				<span class="iconfont icon-setting"></span>
				<p>设置</p>
			</a>
		</li>
	</ul>

</article>